{% macro icons(icons, text) %}
  {%- set icons = icons|default([]) -%}
  {%- if icons is string -%}
    {%- set icons = [icons] -%}
  {%- endif -%}
  {%- for icon in icons -%}
    <span {{ attributes().class(icon).class('fa')|raw }}></span>
  {%- endfor -%}
  {%- if (icons|length > 0) and text -%}
    &nbsp;
  {%- endif -%}
{% endmacro %}

{# -------------------------------------------------------------------------- #}

{% macro dropdown(bsLink, items, attributesContainer, attributesMenu) %}
  {%- import _self as self -%}
  {%- set attributes = bsLink.attributes.class('btn dropdown-toggle') -%}
  {%- set attributes = attributes.setIfEmpty('title', bsLink.text|striptags) -%}
  {%- set attributes = attributes.set('id', uuid() ~ '-dropdown') -%}
  {%- set attributes = attributes.set('type', 'button').set('data-toggle', 'dropdown') -%}
  {%- set attributes = attributes.set('aria-haspopup', 'true').set('aria-expanded', 'false') -%}

  {%- set attributesMenu = attributes(attributesMenu) -%}
  {%- set attributesMenu = attributesMenu.class('dropdown-menu') -%}
  {%- set attributesMenu = attributesMenu.set('aria-labelledby', attributes.get('id')) -%}

  <div {{ attributes(attributesContainer)|raw }}>
    <button {{ attributes|raw }}>
      <span class="btn-text">{{ self.icons(bsLink.icons, bsLink.text) }}{{ bsLink.text|raw }}</span>
    </button>
    <div {{ attributesMenu|raw }}>
{% for item in items %}
    {{ self.dropdownItem(item) }}
{% endfor %}
    </div>
  </div>
{% endmacro %}

{# -------------------------------------------------------------------------- #}

{% macro dropdownItem(item) %}
  {% import _self as self %}
  {%- apply spaceless -%}
    {% if item is not bsDropdownItem %}
      {% set item = bsDropdownItem().apply(item) %}
    {% endif %}

    {% set attributes = item. attributes %}

    {% if item.divider %}
      <div {{ attributes.class('dropdown-divider')|raw }}></div>
    {% elseif item.header %}
      <div {{ attributes.class('dropdown-header')|raw }}>{{ item.header|raw }}</div>
    {% else %}
      {% if attributes.get('disabled') %}
        {% set attributes = attributes.class('disabled').set('aria-disabled', 'true') %}
      {% endif %}
      <a {{ attributes.class('dropdown-item')|raw }}>{{- self.icons(item.icons, item.text) -}}{{- item.text|raw -}}</a>
    {% endif %}
  {%- endapply -%}
{% endmacro %}
